@model ShareCar.Models.Customer.UserModel.ProfileModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông Tin Cá Nhân</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"> <!-- Đường dẫn đến Bootstrap -->
    <style>
        .btn-primary {
            background: linear-gradient(43deg, #94ccff, #b0adad);
            border: none;
            transition: color 0.3s ease, transform 0.3s ease;
        }

        .btn-primary:hover {
            transform: scale(1.1);
        }

        .btn-secondary{
            background: linear-gradient(45deg, #ffffff, #454444);
            border: none;
            transition: color 0.3s ease, transform 0.3s ease;
        }

        .btn-secondary:hover{
            transform: scale(1.1);
        }

        .border {
            border: 1px solid #313335 !important;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center my-4">Thông Tin Cá Nhân</h2>
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success text-center">
                @TempData["Success"]
            </div>
        }
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form class="border p-4" method="post">
                    <div class="mb-3">
                        <label class="form-label">Tên người dùng</label>
                        <input type="text" class="form-control" value="@Model.UserName" readonly />
                    </div>
                    <div class="mb-3">
                        <label asp-for="PassWord" class="form-label">Mật khẩu</label>
                        <input type="text" asp-for="PassWord" class="form-control" readonly />
                        <span asp-validation-for="PassWord" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Họ và tên</label>
                        <input type="text" class="form-control" value="@Model.FullName" readonly />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" value="@Model.Email" readonly />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" value="@Model.SDT" readonly />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" value="@Model.Address" readonly />
                    </div>
                    <div class="text-center mt-3">
                        <a href="@Url.Action("Edit", "User")" class="btn btn-primary">Cập nhật thông tin</a>
                        <a href="@Url.Action("Index","Home")" class="btn btn-secondary">Quay lại trang chủ</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
