@model IEnumerable<ShareCar.Models.Home.CarModel.CarSellModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xe dành cho bạn</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <style>
        #CarSell .swiper-container {
            
            width: 100%;
           position: revert;
           overflow : hidden;
        }
        .swiper-container.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
            width: 100%;
        }


        .swiper-wrapper {
            display: flex;
            padding: 0;
            margin: 0;
            
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
            width: calc((100%/3) - 15px); /* Chỉnh lại để có 4 phần tử trên mỗi hàng */
            box-sizing: border-box;
            
        }
        .card {
            width: 100%;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
        }

        .card:hover {
            transform: scale(1.05); /* Hiệu ứng hover */
        }

        .card-img-top {
            object-fit: cover;
            height: 200px; /* Giảm kích thước ảnh */
        }

        .list-all {
            color: #378eeb; /* Màu mặc định */
            text-decoration: none; /* Loại bỏ gạch dưới */
            transition: color 0.3s ease, transform 0.3s ease; /* Thêm hiệu ứng cho màu sắc và chuyển động */
        }

        .list-all:hover {
            color: #001eff; /* Màu khi hover */
            transform: scale(1.1); /* Thêm hiệu ứng phóng to nhẹ khi hover */
        }
        a.btn.btn-primary.btn-sm.me-2 {
            background: #00000061;
            border: none;
            transition: color 0.3s ease, transform 0.3s ease;
        }
        a.btn.btn-success.btn-sm {
            background: #000000;
            border:none;
            transition: color 0.3s ease, transform 0.3s ease;
        }

        a.btn.btn-success.btn-sm:hover {
            transform: scale(1.1); 
        }
        a.btn.btn-primary.btn-sm.me-2:hover {
            transform: scale(1.1); 
        }

        .swiper-button-next, .swiper-button-prev {
            background-color: rgba(0, 0, 0, 0.5); /* Màu nền của các nút */
            border-radius: 50%;
            padding: 10px;
            width: 30px;
            height: 30px;
            transition: color 0.3s ease, transform 0.3s ease;
        }
        .swiper-button-next:after,
            .swiper-rtl .swiper-button-prev:after {
                content: 'next';
                font-size: 12px;
            }

        .swiper-button-prev:after,
        .swiper-rtl .swiper-button-next:after {
            content: 'prev';
            font-size: 12px;
        }
        /* Để chúng ở vị trí giữa trên màn hình */
        #CarSell .swiper-button-next {
            right: 60px;
            top: 88.3%;
            transform: translateY(-50%);
            background: #e0dede;
            color: black;
            padding: 16px;
        }

        #CarSell .swiper-button-prev {
            left: 60px;
            top: 88.3%;
            transform: translateY(-50%);
            background: #e0dede;
            color: black;
            padding: 16px;
        }

       
    </style>
</head>
<body>

    
    <div class="container mt-5">
        <h3 class="container mt-5">Xe đăng bán</h3>
         <hr class="my-3" style="color:dodgerblue;">
         @if(Model != null && Model.Any()){
        <div class="text-end">
        @if(ViewBag.check != true){
            <h6><a class="list-all" href="@Url.Action("CarSellAll","Car")">Hiển thị tất cả <i class="fas fa-arrow-right"></i></a></h6>
        }
        </div>
        <!-- Swiper Container -->
        <div class="swiper-container">
            
            <div class="swiper-wrapper">
                @foreach (var car in Model)
                {
                    <div class="swiper-slide">
                        <div class="card shadow-sm">
                            <img src="@car.Image" class="card-img-top" alt="@car.Model">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-2">
                                    <h5 class="card-title mb-1">@car.Model</h5>
                                </div>
                                <p class="card-text text-muted">Biển số: @car.LicensePlate</p>

                                <div class="d-flex justify-content-between mb-2">
                                    <p class="card-text text-muted">
                                            <i class="fas fa-clock"></i>
                                            @{
                                                var timeDifference = DateTime.Now - car.Day;
                                                var timeText = "";

                                                if (timeDifference.TotalSeconds < 60)
                                                {
                                                    timeText = $"{(int)timeDifference.TotalSeconds} giây trước";
                                                }
                                                else if (timeDifference.TotalMinutes < 60)
                                                {
                                                    timeText = $"{(int)timeDifference.TotalMinutes} phút trước";
                                                }
                                                else if (timeDifference.TotalHours < 24)
                                                {
                                                    timeText = $"{(int)timeDifference.TotalHours} giờ trước";
                                                }
                                                else
                                                {
                                                    timeText = $"{(int)timeDifference.TotalDays} ngày trước";
                                                }
                                            }
                                            @timeText
                                        </p>
                                    <p class="card-text text-muted mb-0">
                                        <i class="fas fa-user"></i> @car.Poster
                                    </p>
                                </div>

                                <div class="d-flex justify-content-between mb-2">
                                   <p class="card-text text-muted mb-0"><strong><i class="fas fa-file-alt"></i></strong> <span class="badge @(car.VehicleRegistration == "Không đầy đủ" ? "bg-danger text-light" : "bg-info text-dark")" style="font-weight: normal;">
                                        @car.VehicleRegistration
                                    </span>
                                    <p class="card-text text-muted"> 
                                        <i class="fas fa-money-bill-wave"></i> @String.Format("{0:0,0}", car.SellPrice) đ
                                    </p>
                                </div>

                                <div class="d-flex align-items-center justify-content-lg-start">
                                    <a href="@Url.Action("CarSellDetail", "Car", new { id = car.CarID })" class="btn btn-primary btn-sm me-2"> 
                                        Xem Chi Tiết
                                    </a>
                                    <a href="@Url.Action("Book", "Cars", new { id = car.CarID })" class="btn btn-success btn-sm">
                                        Mua Xe
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- Nút mũi tên -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
  

         }else{
            <h5><p class="text-center">Không tìm thấy phương tiện nào...</p></h5>
         }
        
  </div>
            

    <!-- Thêm Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('#CarSell .swiper-container', {
        slidesPerView: 3, // Hiển thị 4 items cùng lúc
        spaceBetween: 15, // Khoảng cách giữa các slide
        loop: true, // Kích hoạt chế độ lặp vô tận
        autoplay: {
            delay: 3000, // Tự động nhảy slide sau 3 giây
            disableOnInteraction: false // Tiếp tục autoplay ngay cả khi có tương tác
        },
            navigation: {
            nextEl: '#CarSell .swiper-button-next',
            prevEl: '#CarSell .swiper-button-prev',
        },
        breakpoints: {
            1024: {
                slidesPerView: 3, // Khi màn hình lớn, hiển thị 4 items
                spaceBetween: 15,
            },
            768: {
                slidesPerView: 2, // Khi màn hình nhỏ, hiển thị 2 items
                spaceBetween: 10,
            },
            480: {
                slidesPerView: 1, // Khi màn hình rất nhỏ, hiển thị 1 item
                spaceBetween: 5,
            }
        }
    });

    // Lắng nghe sự kiện hover cho các slide của Swiper
    var swiperSlides = document.querySelectorAll('#CarSell .swiper-slide');

    swiperSlides.forEach(function(slide) {
        slide.addEventListener('mouseenter', function () {
            swiper.autoplay.stop(); // Dừng autoplay khi hover vào slide
        });

        slide.addEventListener('mouseleave', function () {
            swiper.autoplay.start(); // Tiếp tục autoplay khi rời khỏi slide
        });
    });
});
    </script>
</body>
</html>
