@model ShareCar.Models.Home.CarModel.CarShareModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi tiết xe</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/Carshare/carsharedetail.css">
    <style>

        .btn-success {
            background: linear-gradient(43deg, #94ccff, #b0adad);
            border: none;
            width: 100%;
            color:black;
            transition: color 0.3s ease, transform 0.3s ease;
            place-content: center;
            
        }
        .btn-primary{
            background: linear-gradient(45deg, #ffffff, #454444);
            border: none;
            color:black;
        }
        .btn-primary:hover {
            transform: scale(1.1);
            background: black;
        }
        .btn-success:hover {
            transform: scale(1.1);
            color: black;
        }
        .star {
            cursor: pointer;
            text-shadow: none;
            margin-right: 2px;
            font-size: 12px;
        }


        .btn-secondary {
            place-content: center;
            background: linear-gradient(45deg, #ffffff, #454444);
            border: none;
            width: 100%;
            color:black;
            transition: color 0.3s ease, transform 0.3s ease;
        }
        .btn-secondary:hover {
            transform: scale(1.1);
            color: black;
        }

        .col-md-3 p{
            margin-top:10px;
            margin-left: 5px;
        }

        .row-cols{
            width :93%;
        }
        .logo-container {
            height: 13%;
            display: flex;
            justify-content: center; /* Căn giữa logo theo chiều ngang */
            margin-left: 10%;
        }

        .card-body{
            background:#202024
        }
        strong {
            color: #ffffffab;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                <a href="javascript:history.back()"><i class="bi bi-arrow-left-short" style="color: rgb(255, 255, 255); font-size: 40px; margin-left: -10px;"></i></a>
                <h2 class="mb-3" style="margin-left: -3px;">@Model.Brand @Model.Model</h2>
                <div class="d-flex align-items-center mb-4" style="margin-left: -10px;">
                    <span class="text-warning ms-2" style="display: flex;"> 
                        @for (int i = 1; i <= 5; i++)
                        {
                            var averageRating = Model.AverageRating ?? 0;

                            if (i <= (int)averageRating)
                            {
                                // Hiển thị sao đầy
                                <i class="fas fa-star star" style="color: white;"></i>
                            }
                            else if (i == (int)averageRating + 1 && averageRating % 1 > 0)
                            {
                                // Hiển thị sao nửa
                                <i class="fas fa-star-half-alt star" style="color: white;"></i>
                            }
                        }
                        <p style="margin-top: -6.5px; margin-left: 5px; color: white;">@Model.AverageRating</p>
                        @if(Model.RentalPrice < 1000000){
                            <div>
                                <p style="margin-top: -6.5px; margin-left: 5px; color: #ffffffa8;"><i class="bi bi-tag-fill"></i> Xe bình dân</p>
                            </div>
                        }else if(Model.RentalPrice >= 1000000 && Model.RentalPrice < 10000000){
                            <div>
                                <p style="margin-top: -6.5px; margin-left: 5px; color: #ffffffa8;"><i class="bi bi-tag-fill"></i> Xe sang</p>
                            </div>
                        }else{
                            <div>
                                <p style="margin-top: -6.5px; margin-left: 5px; color: #ffffffa8;"><i class="bi bi-tag-fill"></i> Xe siêu sang</p>
                            </div>
                        }
                    </span>
                </div>
                <!-- Ảnh của xe -->
                <img src="@Model.Image" alt="@Model.Model" class="img-fluid rounded">
                <div class="row-cols">
                <h5 class="font-weight-bold mt-4">Mô tả</h5>
                <p>@Model.Description</p>
                </div>
                @if(Context.Session.GetString("UserName") != null){
                <!-- Bình luận -->
                    <div class="row-cols">
                        <h4>Bình Luận</h4>

                        <!-- Form nhập bình luận -->
                        <form method="post" action="/Car/AddComment" class="mb-4">
                            <input type="hidden" name="CarID" value="@Model.CarID" />

                            <div class="mb-3">
                                <label for="PosterName" class="form-label">Tên:</label>
                                <input type="text" class="form-control" id="PosterName" name="PosterName" value="@Context.Session.GetString("FullName")" required>
                            </div>

                            <div class="mb-3">
                                <label for="CommentText" class="form-label">Bình luận:</label>
                                <textarea class="form-control" id="CommentText" name="CommentText" rows="3" required></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Gửi Bình Luận</button>
                        </form>

                        <!-- Hiển thị danh sách bình luận -->
                        <div>
                            <h5>Các Bình Luận:</h5>

                            @foreach (var comment in Model.CommentShare)
                            {
                                <div class="card mt-2">
                                    <div class="card-body">
                                        <h6 class="card-subtitle mb-2 text-muted">@comment.PosterName</h6>
                                        <p class="card-text">@comment.CommentText</p>
                                        <div class="d-flex text-muted">
                                            <small>
                                                <i class="fas fa-clock"></i>
                                                @{
                                                    var timeDifference = DateTime.Now - comment.DateUp;
                                                    var timeText = timeDifference.TotalSeconds < 60 ? $"{(int)timeDifference.TotalSeconds} giây trước" :
                                                                timeDifference.TotalMinutes < 60 ? $"{(int)timeDifference.TotalMinutes} phút trước" :
                                                                timeDifference.TotalHours < 24 ? $"{(int)timeDifference.TotalHours} giờ trước" :
                                                                $"{(int)timeDifference.TotalDays} ngày trước";
                                                }
                                                @timeText
                                            </small>
                                            <small>
                                                <i class="bi bi-arrow-return-right" style="margin-left: 10px;"></i> Phản hồi
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    }
            </div>

            <div class="col-md-3 " style="margin-top: 12%;">
                 <div class="logo-container">
                    <img src="@Model.Logo" alt="@Model.Model">
                </div>
                @if(Model.RentalPrice < 1000000){
                    <p style="background: #343437; width: 30%;text-align: center; border-radius: 5px;height: 35px; place-content: center;">Base Car</p>
                }else if(Model.RentalPrice >= 1000000 && Model.RentalPrice < 10000000){
                    <p style="background: #343437; width: 35%;text-align: center; border-radius: 5px;height: 35px; place-content: center;">Luxury Car</p>
                }else{
                    <p style="background: #343437; width: 50%;text-align: center; border-radius: 5px; height: 35px; place-content: center;">Super Luxury Car</p>
                }
                
                <p><strong><i class="fas fa-money-bill-wave"></i></strong> <span>@String.Format("{0:0,0}", Model.RentalPrice) đ/ngày</span></p>
                <div class="d-flex flex-column flex-md-row" style="padding: 5px; height: 60px; width: 117%;">
                    <a href="@Url.Action("NewCar", "Car", new { id = Model.CarID })" class="btn btn-success me-md-2 mb-2 mb-md-0">Đặt Xe</a>
                </div>
                
                <div class="d-flex flex-column flex-md-row" style="padding: 5px; height: 60px; width: 117%;">
                    <a href="javascript:history.back()" class="btn btn-secondary me-md-2 mb-2 mb-md-0">Thêm vào mục yêu thích</a>
                </div>
                
                
                <!-- Thông tin chi tiết -->
                <p><strong><i class="fas fa-car"></i> Hãng Xe:</strong> @Model.Brand</p><hr>
                <p><strong><i class="fas fa-id-card"></i> Biển số:</strong> @Model.LicensePlate</p><hr
                <p><strong><i class="fas fa-palette"></i> Màu sắc:</strong> @Model.Color</p><hr>
                <p><strong><i class="fas fa-cogs"></i> Tình trạng:</strong> @Model.Status</p><hr>
                <p><strong><i class="fas fa-user"></i> Người đăng:</strong> @Model.Poster</p><hr>
                <p><strong><i class="fas fa-calendar-alt"></i> Ngày đăng:</strong> @Model.Day.ToString("dd/MM/yyyy")</p><hr>
                <p><strong><i class="fas fa-map-marker-alt"></i> Địa chỉ:</strong> @Model.Address</p><hr>
                <p><strong><i class="fas fa-phone-alt"></i> Liên hệ:</strong> @Model.SDT</p>


                <!-- Nút quay lại và đặt xe -->
                
            </div>
        </div>

            

    </div>

    
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
