@model ShareCar.Models.Home.CarModel.CarSellModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi tiết xe</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .img-fluid {
            width: 100%;
            height: 400px;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <!-- Ảnh của xe -->
                <img src="@Model.Image" alt="@Model.Model" class="img-fluid rounded">
                <h2 class="mb-3">@Model.Model</h2>
            </div>

            <div class="col-md-6">
                <!-- Thông tin chi tiết -->

                <p><strong><i class="fas fa-car"></i> Hãng Xe:</strong> @Model.Brand</p>
                <p><strong><i class="fas fa-id-card"></i> Biển số:</strong> @Model.LicensePlate</p>
                <p><strong><i class="fas fa-palette"></i> Màu sắc:</strong> @Model.Color</p>
                <p><strong><i class="fas fa-file-alt"></i> Giấy tờ:</strong> <span
                        class="badge @(Model.VehicleRegistration == "Không đầy đủ" ? "bg-danger text-light" : "bg-info text-dark")">@Model.VehicleRegistration</span>
                </p>
                <p><strong><i class="fas fa-user"></i> Người đăng:</strong> @Model.Poster</p>
                <p><strong><i class="fas fa-phone-alt"></i> Liên hệ:</strong> @Model.SDT</p>
                <p><strong><i class="fas fa-calendar-alt"></i> Ngày đăng:</strong> @Model.Day.ToString("dd/MM/yyyy")</p>
                <p><strong><i class="fas fa-map-marker-alt"></i> Địa chỉ:</strong> @Model.Address</p>


                <p><strong> <i class="fas fa-money-bill-wave"></i> Giá bán:</strong> <span class="text-success">@String.Format("{0:0,0}", Model.SellPrice)
                        đ</span></p>


                <!-- Nút quay lại và đặt xe -->

                <a href="javascript:history.back()" class="btn btn-secondary me-2">Quay lại</a>
                <a href="@Url.Action("NewCar", "Car", new { id = Model.CarID })" class="btn btn-success">Đặt Xe</a>



            </div>
        </div>
        <div class="row-cols-2">
            <h5>
                <p style="font-weight: bold;">Mô tả</p>
            </h5>
            <p> @Model.Description</p>
        </div>
    </div>
</body>

</html>
